/* Main Layout */
.platform-container {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

/* LEFT SIDE */
.question-panel {
  width: 50%;
  padding: 20px;
  overflow-y: auto;
  background: white;
  border-right: 1px solid #ddd;
}

/* Markdown Styling */
.question-panel h1,
.question-panel h2,
.question-panel h3 {
  margin-top: 20px;
}

.question-panel pre {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}

/* RIGHT SIDE */
.compiler-panel {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  background: #1e1e1e;
  color: white;
}

/* Top bar */
.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #252526;
  border-bottom: 1px solid #333;
}

.language-tag {
  background: #3c3c3c;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 13px;
}

.editor-header .right button {
  margin-left: 10px;
  padding: 6px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.run-btn {
  background: #007acc;
  color: white;
}

.submit-btn {
  background: #28a745;
  color: white;
}

.editor-container {
  flex: 1;
}

/* Console */
.console-section {
  height: 180px;
  background: #111;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.console-header {
  padding: 8px 12px;
  background: #252526;
  font-size: 13px;
  border-bottom: 1px solid #333;
}

.console-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 13px;
}

.console-body pre {
  margin: 0;
  color: #d4d4d4;
}


/* New one */
.compiler-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-container {
  height: 400px;
}

.console-section {
  background: #111;
  color: white;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.console-header {
  display: flex;
  gap: 20px;
  padding: 8px 12px;
  background: #1e1e1e;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.console-header span {
  opacity: 0.6;
}

.console-header .active-tab {
  opacity: 1;
  font-weight: bold;
  color: #00ff88;
}

.console-body {
  padding: 10px;
  min-height: 120px;
}

.console-body pre {
  margin: 0;
  white-space: pre-wrap;
}

.input-area {
  width: 100%;
  height: 120px;
  background: #1e1e1e;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px;
  resize: vertical;
  font-family: monospace;
}
